<section class="flex justify-center h-screen w-screen text-center overflow-hidden relative">
    <div class="z-30 relative h-full flex flex-col">
      <header>
        <h2 class="text-white pt-20 text-[40px] font-medium">Solar Panels</h2>
        <p class="text-white text-sm pt-1">Explore inventory</p>
      </header>
      <footer class="flex flex-col flex-grow justify-end px-12 pb-20">
        <div class="flex mx-auto gap-x-4">
        <a class="border-[1px] border-white bg-white backdrop-blur-sm rounded font-medium text-black text-sm py-2 px-12 inline-block hover:bg-gray-600 hover:text-white hover:border-gray-600 hover:backdrop-blur-sm hover:font-bold transition-colors" href="">Order Now</a>
        <a class="border-[1px] border-gray-600 bg-gray-600 rounded font-medium text-white text-sm py-2 px-12 inline-block hover:bg-white hover:text-black hover:font-bold hover:border-white transition-colors" href="">Learn More</a>
      </div>
      </footer>
    </div>
    <div class="absolute top-0 bottom-0 h-full w-full z-10">
        <img src="../../public/425_HP_SolarPanels_D.avif" alt="Solar Panels" class="h-full w-full object-cover object-center">
    </div>
</section>

